body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 2rem;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#intro img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-right: 2rem;
}

.intro-text {
  max-width: 600px;
}

#intro h2 {
  color: #333;
  margin-bottom: 1rem;
}

#intro p {
  color: #666;
}

#event-form {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#event-form h2 {
  margin-bottom: 1rem;
  color: #333;
}

#event-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

#event-form input,
#event-form select,
#event-form button {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#event-form button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#event-form button:hover {
  background-color: #555;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
